<!doctype html>
<html>
	<head>
		<title>{$title}</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
		<link rel="stylesheet" href="/css/NoD.css">
		<link rel="stylesheet" href="/css/game.css">
	</head>
	<body>
		<div class="server">{$server}</div>
		<div class="container">
			<p>面前来了2条狗</p>
			<div class="split">NPC</div>
			<div><a class="npc" href="javascript:;">【!】扫地的阿伯</a></div>
			<div class="split">怪物</div>
			<div><a class="goblin" href="javascript:;">LV1. 野狗[100/100]</a></div>
			<div><a class="goblin" href="javascript:;">LV1. 野狗[100/100]</a></div>
		</div>
		<div class="tools">
			<a href="">角色</a>
			<a href="">任务</a>
			<a href="">背包</a>
			<a href="">菜单</a>
		</div>
	</body>
</html>